html{
  background-image:radial-gradient(circle, rgba(139,0,82,1) 0%, rgba(9,79,121,1) 100%);
}


/* HEADER */

/* FIN HEADER */

/* FOOTER */

footer{
    background-image: url(../media/fondo\ background.jpg);
    height: 200px;
}

i{
    color: white;
    padding: 40px;
    align-items: flex-start;

}

footer a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

footer ul{
    display: flex;
    justify-content: center;
    
}

.irArriba{
    margin-left: auto;
}




/* MAIN */

.titulo{
    text-align: center;
    font-size: 60px;
    padding-bottom:50px;
    padding-top: 50px;
    font-family: 'Poltawski Nowy', serif;

}


.fotoInicio img{
    width: 30rem;
    height: 40rem;
}

ul{
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    padding: 50px;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Poltawski Nowy', serif;
}

.fotoNovedades img{
    width: 20rem;
}

.carousel-item img{
  height: 800px;
  width: 400px;
}
.carousel-item{
  padding-right: 200px;
  padding-left: 200px;
}

/* BOTON BUSCAR Y CATEGORIAS */

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 5px;
  }
  
  .search-bar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .categorias {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .categorias-text {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .hamburger-container {
    display: flex;
    flex-direction: column;
  }
  
  .hamburger {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 30px;
  }
  
  .hamburger-bar {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #000;
    margin-bottom: 4px;
  }

  /* NOSOTROS */
  
  .parrafoNosotros {
    font-size: 30px;
    line-height: 70px;
    max-width:60%;
  }

  .parrafoNosotrosContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* CONTACTANOS */

form {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label, input, textarea, button {
    margin-bottom: 30px;
    width: 60%;
  }

#mensaje {
  height: 90px; 
}

#enviar{
    width: 80px;
}



  

  
